/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.displayValue {
    box-sizing: border-box;
    display: flex;
    overflow-wrap: break-word;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(165, 35, 154);
    height: 70px;
    width: 400px;
    font-size: 24px;
    color: black;
}

.button-container {
    background: rgb(165, 35, 154);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882F6;
    border: 1px solid rgb(8, 128, 48);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
    font-weight: bold;
    margin: 8px;
    width: 70px;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
    display: flex;
    justify-content: space-between;
}

.fifth-row {
    display: flex;
    justify-content: center;
}